.idea
.gradle
*.iml
/out
/build
/*/build
/*/out
/build-info-extractor-gradle/src/examples/multiproject/build
/build-info-extractor-gradle/src/examples/multiproject/*/build
/build-info-extractor-gradle/src/examples/multiproject/*/*/build
/build-info-extractor-gradle/src/examples/publishTestProject/build
/build-info-extractor-gradle/src/examples/publishTestProject/*/build
/build-info-extractor-gradle/src/examples/publishTestProject/*/*/build
build-info.ipr
build-info.iws
atlassian-*.xml
/.nb-gradle/private/
/itest/src/test/resources/org/jfrog/build/cache
/build-info-extractor/src/test/resources/artifactory-bi.properties
local.properties
*.class
/*/bin/test/org/jfrog/build
/*/bin/test/*/snapshots/*.xml
/*/bin/test/*/settings/build-info*.json
/*/bin/test/*/pipLog.txt